################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/CommandAggregatorExample/obj/Debug/App.g.cs
*.baml
/CommandAggregatorExample/obj/Debug/Views/MainWindow.g.cs
*.suo
/CommandAggregatorExample/bin/Debug
/CommandAggregatorExample/obj
/UnitTests/bin/Debug
/UnitTests/obj
/WPFCommandAggregator/bin/Debug
/WPFCommandAggregator/obj
/.axoCover
/.vs/CommandAggExample/DesignTimeBuild
/.vs/CommandAggExample/v15/Server/sqlite3
/.vs
/CommandAggregatorExample/bin/Release
/UnitTests/bin/Release
/WPFCommandAggregator/bin/Release
/_nugetPackage/V1.3.0.0
